<div class="container mt-4 mb-4">
  <h1 class="title">All restaurants</h1>
</div>

<div class="container">

<%= link_to "Add new Restaurant", new_restaurant_path, class: 'btn-add' %>
<div>
  <div class="box-flex">
    <% @restaurants.each do |restaurant| %>
      <div class="box-restaurant">
       <img class="img-restaurant" src="<%= restaurant.image %>">
       <div class="text-restaurant-name">
        <p> <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
       </div>
      </div>
    <% end %>
  </div>
<div>



</div>
