<h1>
  <%= @restaurant.name %>
</h1>

<% @restaurant.reviews.each do |review| %>
   <span>
     <p><%= review.content %></p>
   </span>
<% end %>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
