// Import your components CSS files here.

//font-family: 'Lobster', cursive;
//font-family: 'Roboto', sans-serif;
@import "alert";
@import "avatar";
@import "navbar";

body{
  background-color: #fbe0c4;
  font-family: 'Roboto', sans-serif;
}

.title{
  font-size: 60px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.img-restaurant{
  width: 100%;
  height: 290px
}

.text-restaurant-name{
  text-align: center;
  color: #fff;
  background-color: #2978b5;
  height: 30px;
  padding: 3px;
}

.text-restaurant-name a{
  color: #fff;
}

.box-flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

.box-restaurant{
  margin: 10px 0;
  border: 1px solid #999;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-add{
  border-radius: 20px;
  padding: 5px 25px;
  background-color: #2978b5;
  color: #fff;
}


// show css

.restaurant-name-show{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 56px;
  padding: 20px 0;
  text-transform: uppercase;

}
.restaurant-content{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 20px;
  background-color: #fff;
}
.img-restaurant-show{
  height: 780px;
  width: 550px;
}

.user-review{
  border-radius: 10px;
  padding:20px;
  background-color: #8ab6d6;
  width: 93%;

}

.btn-add-review{
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #2978b5;
  color: #fff;
}

.btn-edit-restaurant{
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #2978b5;
  color: #fff;
}

.btn-delete-restaurant{
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #ce1212;
  color: #fff;
}


// Edit css

.edit-box{
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.btn-update-restaurant{
  padding: 5px 25px;
  background-color: #2978b5;
  color: #fff;
}


// Review css

.new-review-box{
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.btn-submit-review{
  padding: 5px 25px;
  background-color: #2978b5;
  color: #fff;
}
